
.container {
  margin: 100px auto;
  max-width: 1000px;
  /*margin: auto;*/
/*  padding: 0px 20px 20px 20px;*/
  border: 1px dotted black;
  /*margin: 90px 50px;*/
  font-family: open sans;

}

#top-bar {
  width: 100%;
  height: 82px;
  background-color: #00bfab;
  top: 0;
  position: fixed;
  font-family: open sans;
  opacity: .5;
  float: left;
/*  padding: 25px;*/
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 30px 20px;
  font-weight: bold;
  color: #FFF;
}

/*#nav li a:hover {
  background-color: #3b5998;
}*/
/*nav {
  border: 2px solid black;
}
*/
nav li {
  float: left;
  /*border: 2px solid black;*/
}

/*nav {
  margin: auto;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


nav li a:hover {
  background-color: #605794;

}

input {
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 22px;
  margin-left: 20px;

}

input[type="submit"] {
  width: 75px;
  margin-left: 25px;
}

form {
  margin-left: 100px;
}