
body {
  max-width: 1000px;
  background-image: url('/img/greyzz.png');
  background-repeat: repeat;

}

h2 {
  font-size: 1.7em;
  text-decoration: underline;
}

h3 {
  font-size: 1.4em;
  padding-top: 20px;
}

h4 {
  color: darkgray;
  margin-top: 0;
}

.container {
  margin: 20px 20px 50px 20px;
  width: 960px;
  min-height: 700px;
  padding-top: 65px;
  font-family: open sans;
  position: absolute;
  text-align: center;
}

.canvas-wrapper {
    margin-botom: 30px; 
}

canvas {
    border: 3px solid black;
}

.hidden {
  display: none;
}

.error {
  width: 80%;
}

.error p {
  color: red;
  font-size: 1.1em;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*TOP BAR*/

#top-bar {
  width: 100%;
  min-width: 760px;
  height: 65px;
  background-color: #00bfab;
  top: 0;
  position: fixed;
  font-family: open sans;
  float: left;
  z-index: 1;
}

nav {
  height: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  position: relative;
}

nav li a {
  display: block;
  text-decoration: none;
  line-height: 65px;
  padding: 0 20px;
  font-weight: bold;
  color: #FFF;
}

nav li a:hover {
  background-color: #605794;
}

nav input {
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  margin-left: 20px;
}

nav input[type="submit"] {
  width: 75px;
  /*margin-left: 25px;*/
}


/*CANVAS*/

.picture-list {
margin-left: 20px;  
}

.description-list {
  clear: left;
}

.canvas-area, .inner-picture-container {
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}

.canvas-area {
  float: left;
  width: 500px;
  height: 500px;
}

.outer-picture-container {
  float: left;
  text-align: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 340px;
}

.outer-picture-container p.author {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /*margin: 0;*/
  /*padding-left: 10px; */
}

.outer-picture-container p.round-info {
  color: blue;
  position: absolute;
  bottom: 0;
  right: 0;
}

.inner-picture-container {
  width: 300px;
  height: 300px;
}

.canvas-container {
  width: 100%;
  margin: 20px auto;
  /*border: 2px solid black;*/
}


/* DESCRIPTION */
.outer-description-container {
  text-align: left;
  display: table-cell;
  width: 300px;
  height: 340px;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.outer-description-container p.author {
/*  margin: 0;
  padding-left: 10px;
  float: left;
  display: table;*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.outer-description-container p.round-info {
  color: blue;
  position: absolute;
  bottom: 0;
  right: 0;
}
.inner-description-container {
  background-color: black;
  border: 3px solid blue;
  position: absolute;
  width: 300px;
  height: 300px;
  display: table;
}
.inner-description-container a {
  color: white;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.6em;
  margin-top: 0;
}

.inner-description-container > p {
  color: white;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.6em;
  margin-top: 0;
}

/* TIMELINE */
.timeline {
  margin-left: 20px;
  width: 100%;
  margin: 0 auto;
}

.timeline .picture-container {
  float: none;
  margin: 50px 0;
  position: static;
}

.timeline .outer-description-container {
  float: none;
  width: 960px;
  margin: 0 auto;
  position: relative;
  height: 300px;
}

.timeline .inner-description-container {
  margin: 0 329px;
}

/* SWITCH */

.tab {
  margin: auto;
  width: 400px;
}

.tab ul{
  
  display: inline-block;
  margin: 0;
  padding: 0;
}

.tab ul li {
  margin: 0 auto;
  background-color: lightgray;
  float: left;
  display: block;
  text-decoration: none;
  line-height: 40px;
  padding: 0 20px;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

.tab li:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.tab li:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid white;
}

.tab .active {
  background-color: gray;
  color: white;
}

