
.container {
  margin-top: 65px;
  max-width: 1000px;
  border: 1px dotted black;
  font-family: open sans;
}

/*TOP BAR*/

#top-bar {
  width: 100%;
  height: 65px;
  background-color: #00bfab;
  top: 0;
  position: fixed;
  font-family: open sans;
  float: left;
}

nav {
  height: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-decoration: none;
  line-height: 67px;
  padding: 0 20px;
  font-weight: bold;
  color: #FFF;
}

nav li a:hover {
  background-color: #605794;
}

nav input {
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  margin-left: 20px;
}

nav input[type="submit"] {
  width: 75px;
  /*margin-left: 25px;*/
}


/*CANVAS*/

.canvas-area, .picture-frame {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
}