<h2>Archived Games</h2>

<% if @archived_games.empty? %>
  <div class="error">
    <p>No archived games found.</p>
  </div>
<% end %>

<div>	
	<% @archived_games.each do |game| %>
	  <a href="/games/<%= game.id %>">Game <%= game.id %> created by <%= User.find(game.user_id).username %></a><br>
	<% end %>
</div>
