<h3>Archived Games</h3>

<div>	
	<% @archived_games.each do |game| %>
	  <a href="/games/<%= game.id %>">Game <%= game.id %> created by <%= User.find(game.user_id).username %></a><br>
	<% end %>
</div>
