<h2>Game Timeline</h2>

<div class='timeline'>
  <% @timeline.each do |element| %>
    <% if element.class == Drawing %>
      <div class='picture-container'>
        <%= element.thumbnail %>
      </div>
    <% elsif element.class == Description %>
      <div class='outer-description-container'>
        <div class='inner-description-container'>
          <p><%= element.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>