<h3>Completed Game</h3>

<div class='timeline'>
  <% @timeline.each do |element| %>
    <% if element.class == Drawing %>
      <div class='picture-container'>
        <%= element.thumbnail %>
      </div>
    <% elsif element.class == Description %>
      <div class='outer-description-container'>
        <div class='inner-description-container'>
          <a href="/games/<%= element.game_id %>"><p><%= element.body %></p></a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>