<h2>Draw it! (game_id: <%= session[:game_id] %>)</h2>

<div class='outer-description-container'>
  <div class='inner-description-container'>
    <p><%= @last_description.body %></p>
  </div>
</div>

<div style="clear:left">
  <%= erb :_canvas %>
</div>