<!-- VIEW NOT CURRENTLY IN USE -->
<h2>Games In Progress</h2>

<div>	
	<% @games_in_progress.each do |game| %>
	  <a href="/games/#{game.id}/play">Game <%= game.id %> created by <%= User.find(game.user_id).username %></a><br>
	<% end %>
</div>
