<h3>Recent Pictures</h3>

<div>
  <% @recent_drawings.each do |drawing| %>
    <a href="/games/#{drawing.game_id}/play"><%= drawing.picture %></a>
  <% end %><br><br>
</div>


<h3>Recent Descriptions</h3>

<div>
  <% @recent_descriptions.each do |description| %>
    <a href="/games/#{description.game_id}/play"><%= description.body %></a>
  <% end %><br><br>
</div>
