<h3>Recent Pictures</h3>

<div class='picture-list'>
  <% @recent_drawings.each do |drawing| %>
    <div class='picture-frame'>
      <a href="/games/<%= drawing.game_id %>/play"><%= drawing.thumbnail %></a>
    </div>
  <% end %><br><br>
</div>



<div class='description-list'>
  <h3>Recent Descriptions</h3>
  <% @recent_descriptions.each do |description| %>
    <div class='description'>
      <a href="/games/<%= description.game_id %>/play"><%= description.body %></a>
    </div>
  <% end %><br><br>
</div>
