<h3>My Games</h3>

<h4>Games I Started</h4>

<% @user_created_game_first_elements.each do |element| %>
  <div>
    <%= element %>
  </div>
<% end %>
<br>
<br>

<h4>My Contributions</h4>

<% @user_contributions.each do |element| %>
  <div>
    <%= element %>
  </div>
<% end %>
