<!-- FILE NOTE CURRENTLY IN USE -->

<h2>Your Games</h2>

<div>	
	<% @user_played_games.each do |game| %>
	  <a href="/games/#{game.id}/play">Game <%= game.id %> created by <%= User.find(game.user_id).username %></a><br>
	<% end %>
</div>
